[submodule "local-s3"]
	path = local-s3
	url = git@github.com:julianghionoiu/tdl-local-s3.git
[submodule "local-sqs"]
	path = local-sqs
	url = git@github.com:julianghionoiu/tdl-local-sqs.git
[submodule "local-ecs"]
	path = local-ecs
	url = https://github.com/julianghionoiu/tdl-local-ecs
